/* General */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    font-size: 2em;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.about-me, .clients, .skills, .currently-working-on {
    margin: 20px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color: #8a2be2;
}

.card p {
    color: #ddd;
}

.clients h2, .skills h2, .currently-working-on h2 {
    color: #ff69b4;
    text-align: center;
}

.client-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.client {
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.client h3 {
    color: #ff69b4;
}

.skills-category {
    margin-bottom: 20px;
}

.skills-category h3 {
    color: #8a2be2;
    text-align: left;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.project-card {
    display: inline-block;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.project-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.project-title {
    color: #8a2be2;
    margin-bottom: 10px;
}

.project-description {
    color: #ddd;
    margin-bottom: 20px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button {
    padding: 10px 15px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #777;
}
